:root {
    /* Primary Colors */
    --clr-violet: hsl( 257, 40%, 49% );
    --clr-soft-magenta: hsl( 300, 69%, 71% );

    /* Headings Typography */
    --ff-heading: 'Poppins', sans-serif;

    /* Body Typography */
    --ff-body: 'Open Sans', sans-serif;

    /* Font Weights */
    --fw-400: 400;
    --fw-600: 600;
}

/*===== BASE =====*/

*,::before,::after{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    padding: 0;
    margin: 0;
}

h1,h2,p{
    margin: 0;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--text-color);
}

img{
    max-width: 100%;
    height: auto;
    display: block;
}