:root {
    /* Primary Colors */
    --clr-violet: hsl( 257, 40%, 49% );
    --clr-soft-magenta: hsl( 300, 69%, 71% );

    /* Headings Typography */
    --ff-heading: 'Poppins', sans-serif;

    /* Body Typography */
    --ff-body: 'Open Sans', sans-serif;

    /* Font Weights */
    --fw-400: 400;
    --fw-600: 600;
}

/*===== BASE =====*/

*,::before,::after{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    padding: 0;
    margin: 0;
}

h1,
h2,
p{
    margin: 0;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
    display: block;
}

main {
    background-color: var(--clr-violet);
    height: 100vh;
}

.header-content {
    background-image: url(./Images/bg-mobile.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 470px;
}

.header__logo {
    max-width: 150px;
}

.main-content {
    text-align: center;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.header-img {
    height: 420px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__img {
    width: 400px;
}

.content__header {
    color: #fff;
    font-family: var(--ff-heading);
    font-weight: var(--fw-600);
    font-size: 2rem;
}

.content-p {
    max-width: 359px;
    margin: 0 auto;
}

.content__p {
    color: #fff;
    font-family: var(--ff-body);
    font-weight: var(--fw-400);
    font-size: 1.2rem;
}

.content__link {
    background-color: #fff;
    color: var(--clr-violet);
    padding: 1rem 6rem;
    border-radius: 2rem;
    font-family: var(--ff-body);
    font-weight: var(--fw-400);
}